[2016-09-09 14:53] ricco386 opened #1 "Create initial DB models and migrations"
All models should have, created, modified datetime fields, that are updated automatically.
If there is status, it should have status_modified field updated automatically.

List of issues to be done in order to have initial DB schema

Tables that doesnt have FK, so they can be created first:

- [x] #3 Create location model
- [x] #13 Create receipt model
- [x] #8 Create room model

****

Models requ

[2016-09-09 14:54] ricco386 opened #2 "Create events model"
Create model file:

title: CharField, max=128
description: TextField,
from:  DateTimeField,
to:  DateTimeField,
type: CHOICES, (conference, meetup)
status: CHOICES, (draft, published, expired)
location: ForeignKey, #3 location table

Once finished, please cross the issue off in list stored at #1 Create initial DB models and migrations

[2016-09-09 19:14] ricco386 opened #3 "Create location model"
Create model file:

title: CharField, max=128
street: CharField, max=128
street2: CharField, max=128
city: CharField, max=128
postcode: CharField, max=12
state: CharField, max=128
capacity: IntegerField

Once finished, please cross the issue off in list stored at #1 Create initial DB models and migrations

[2016-09-09 19:26] ricco386 opened #4 "Create sponsor model"
Create model file:

title: CharField, max=128
type: CHOICES, (platinum, golden, silver, bronze, other, django_girls)
logo: FileField
url: URLField
about_us: TextField
event: ForeignKey, #2 events table, NOT NULL

Once finished, please cross the issue off in list stored at #1 Create initial DB models and migrations

[2016-09-09 19:30] ricco386 opened #5 "Create speaker model"
Create model file:

first_name: CharField, max=128
last_name: CharField, max=128
email: EmailField
phone: CharField, max=64
bio: TextField
url: URLField
social_url: URLField
country: CharField, max=64
sponsor: ForeignKey, #4 sponsors table, DEFAULT NULL

Once finished, please cross the issue off in list stored at #1 Create initial DB models and migrations

[2016-09-09 19:31] ricco386 opened #6 "Create talk model"
Create model file:

title: CharField, max=256
abstract: TextField
type: CHOICES, (talk, workshop)
status: CHOICES, (cfp, draft, approved, rejected, withdrawn)
duration: CHOICES, (30, 45)
primary_speaker: ForeignKey, #5 speaker table, NOT NULL
secondary_speaker: ForeignKey, #5 speaker table, DEFAULT NULL
event: ForeignKey, #2 events table, NOT NULL

Once finished, please cross the issue off in list

[2016-09-09 19:32] ricco386 opened #7 "Create schedule model"
Create model file:

start: DateTimeField,
description: CharField, max=128
talk: ForeignKey, #6 talk table, NOT NULL
duration: IntegerField
room: ForeignKey, #8 room table, DEFAULT NULL

Once finished, please cross the issue off in list stored at #1 Create initial DB models and migrations

[2016-09-09 19:33] ricco386 opened #8 "Create room model"
Create model file:

title: CharField, max=128

Once finished, please cross the issue off in list stored at #1 Create initial DB models and migrations

[2016-09-09 19:34] ricco386 opened #9 "Create ticket_type model"
Create model file:

title: CharField, max=128
description: TextField
price: DecimalField
available_from: DateTimeField
available_to: DateTimeField
event: ForeignKey, #2 events table, NOT NULL

Once finished, please cross the issue off in list stored at #1 Create initial DB models and migrations

[2016-09-09 19:36] ricco386 opened #10 "Create ticket (attendee) model"
Create model file:

type: ForeignKey, #9 ticket_type table, NOT NULL
discount_code: ForeignKey, #11 discount_codes table, DEFAULT NULL
status: CHOICES (requested, registered, checked-in, cancelled)
first_name: CharField, max=128
last_name: CharField, max=128
email: EmailField
phone: CharField, max=64
description: TextField
order: ForeignKey, #12 order table, NOT NULL

Once finished, please cross t

[2016-09-09 19:37] ricco386 opened #11 "Create discount_codes model:"
Create model file:

title: CharField, max=128
hash: CharField, max=64
discount: IntegerField, max=100, min=0
available_from: DateTimeField
available_to: DateTimeField
usage: IntegerField
ticket_type: ForeignKey, #9 ticket_type table, NOT NULL

Once finished, please cross the issue off in list stored at #1 Create initial DB models and migrations

[2016-09-09 19:39] ricco386 opened #12 "Create order model"
Create model file:

price: DecimalField
discount: IntegerField
status: CHOICES (awaiting payment, paid, expired, cancelled)
purchase_date: DateTimeField
paiment_date: DateTimeField

Once finished, please cross the issue off in list stored at #1 Create initial DB models and migrations

[2016-09-09 19:41] ricco386 opened #13 "Create receipt model"
Create model file:

title: CharField, max=128
street: CharField, max=128
street2: CharField, max=128
city: CharField, max=128
postcode: CharField, max=12
state: CharField, max=128
id: CharField, max=32
taxid: CharField, max=32
vatid: CharField, max=32
amount: FloatField

Once finished, please cross the issue off in list stored at #1 Create initial DB models and migrations

[2016-09-09 20:02] ricco386 opened #14 "Make the app modifiable in the admin"
- [ ] Depending at issue #1

Register models for admin area.

Django documentation: https://docs.djangoproject.com/en/1.10/ref/contrib/admin/#modeladmin-objects

[2016-09-09 20:04] ricco386 opened #15 "Create list sponsors view"
Create simple view (with template) that will list all sponsors per event and according their level and alphabetically in the DB.

[2016-09-09 20:09] ricco386 opened #16 "Create list speakers view"
Create simple view (with template) that will list all speakers (for the event) in the DB order alphavetcaly by last name.

[2016-09-09 20:12] ricco386 opened #17 "Show event details view"
Create simple view (with template) that will show details for the event.

[2016-09-10 13:28] ricco386 opened #18 "Landing page"
On the landing page show list of available events.
If there is just one event redirect to its details page.

- [x] #19 Create list events view
- [x] #17 Show event details view

[2016-09-10 13:30] ricco386 opened #19 "Create list events view"
Create simple view (with template) that will list all events in the DB order by upcoming date.

[2016-09-10 13:34] ricco386 opened #20 "Call for proposals view"
Create form for speaker details and also talk details, that can anyone submit and it will store speaker and talk as a draft in the DB.

[2016-09-10 19:32] ricco386 opened #21 "Create base template"
Create base template that can extend all the templates for all view.

- [x] Add simple bootstrap style
- [x] Add hardcoded navigation to views

[2016-09-12 20:11] ricco386 opened #22 "Create volunteer registration view"
Create simple view (with form and template) that will allow register volunteers and store them in DB.

View is available only if ticket_type volunteer us defined, otherwise show 404

Predefined values:
type
status: requested

[2016-09-12 20:24] ricco386 opened #23 "Ticket (attendee) model improove functionality"
Update functionality to generate order if it is not set when storing model, or update on status change.

Price is copied from ticket_type

Predefined values:
discount: (calculate sum, if discount_code is set)
status:
* awaiting payment, upon creation.
* cancelled, when ticket is cancelled.

[2016-09-13 17:37] richban commented on #5
Pracujem natom.

[2016-09-13 17:39] andynet commented on #8
andynet: I'm working on this

[2016-09-13 17:39] Benjji commented on #3
Robime na tejto issue - vlavo od vchodu do miestnosti - nesiahat! :)

[2016-09-13 17:42] kisso commented on #12
obsadene

[2016-09-13 17:44] 16961714b commented on #2
I am working on this model

[2016-09-13 18:08] kapucko commented on #4
I'm gonna work on this issue

[2016-09-13 18:10] jangondol commented on #3
Resolved by #25

[2016-09-13 18:10] #3 closed

[2016-09-13 18:47] TomasHo commented on #11
Working on this

[2016-09-13 18:48] TomasHo commented on #9
Working on this

[2016-09-13 21:28] ZoltanOnody commented on #12
done in https://github.com/pyconsk/django-konfera/pull/32 close it

[2016-09-13 21:31] ZoltanOnody commented on #13
done in https://github.com/pyconsk/django-konfera/pull/28 close it

[2016-09-13 21:34] ZoltanOnody commented on #9
done in https://github.com/pyconsk/django-konfera/pull/30 close it

[2016-09-13 21:36] ZoltanOnody commented on #8
done in https://github.com/pyconsk/django-konfera/pull/27 close it

[2016-09-13 21:39] ZoltanOnody commented on #5
close

[2016-09-13 21:41] ZoltanOnody commented on #2
done in https://github.com/pyconsk/django-konfera/pull/29 close it

[2016-09-14 07:52] ricco386 commented on #8
@andynet @ZoltanOnody thank you guys, closing the issue.

[2016-09-14 07:52] #8 closed

[2016-09-14 07:54] ricco386 commented on #13
@mimmon @ZoltanOnody thanks, closing issue.

[2016-09-14 07:54] #13 closed

[2016-09-14 08:06] ricco386 commented on #2
@16961714b @ZoltanOnody thank you guys, closing issue.

[2016-09-14 08:06] #2 closed

[2016-09-14 08:08] ricco386 commented on #5
@richban @richban thank you guys, closing issue.

[2016-09-14 08:08] #5 closed

[2016-09-14 08:10] ricco386 commented on #12
@kisso @ZoltanOnody thank you guys closing the issue.

[2016-09-14 08:10] #12 closed

[2016-09-14 08:11] ricco386 commented on #9
@TomasHo @ZoltanOnody thank you guys closing the issue.

[2016-09-14 08:11] #9 closed

[2016-09-14 08:16] ricco386 opened #34 "Refactor models.py"
Refactor models.py into new directory models and create separate file for each class.

[2016-09-14 11:04] ricco386 commented on #11
@TomasHo thanks code has been merged.

[2016-09-14 11:04] #11 closed

[2016-09-14 11:37] TomasHo commented on #34
working on it

[2016-09-14 12:21] TomasHo commented on #7
working on it

[2016-09-14 18:23] ricco386 opened #36 "Create file required to package to project (setup.py)"
We want the app to be installable by pip, thus we need to create [setup.py file](https://docs.python.org/3.5/distutils/setupscript.html).

[The Hitchhiker’s Guide to Packaging](https://the-hitchhikers-guide-to-packaging.readthedocs.io/en/latest/index.html)

[2016-09-14 19:53] TomasHo commented on #10
working on it

[2016-09-14 20:25] ricco386 opened #37 "Add tests for models"
Once refactoring in bug #34 is in place add tests for all models to test string representation of the model.

[2016-09-14 20:28] #34 closed

[2016-09-14 20:29] ricco386 commented on #34
merged code in MR: #35

[2016-09-14 21:14] mimmon commented on #6
Finished and PR sent, sorry did not reference the issue

[2016-09-14 21:14] #6 closed

[2016-09-15 13:48] ricco386 commented on #7
MR merged into master

[2016-09-15 13:48] #7 closed

[2016-09-15 13:49] ricco386 commented on #4
MR merged to master

[2016-09-15 13:49] #4 closed

[2016-09-15 14:00] TomasHo commented on #37
Working on this.
@ricco386 is this what you mean?
`self.assertNotEqual(object.__str__(), 'Order object')`

[2016-09-15 14:07] ricco386 commented on #37
@TomasHo almost...

[code]

I have already assigned this issu to myself as I am also creating test directory (similar to models), but if you would like once structure is in place we can share the models who will do what...

If you could please do #10 and once done you can generate migration: #1 and we will have models ready and can start fiddle with views and templates...

[2016-09-15 14:10] ricco386 commented on #10
please rename the file to ticket.py

[2016-09-15 14:21] TomasHo commented on #12
@ricco386 @ZoltanOnody what is the idea of order.discount here pls ? Do we want to have discount codes + per order discount too ?

[2016-09-15 14:27] TomasHo commented on #14
wokring on this

[2016-09-15 15:06] ricco386 commented on #10
MR approved

[2016-09-15 15:06] #10 closed

[2016-09-15 17:12] TomasHo commented on #15
working on this

[2016-09-15 18:35] ricco386 commented on #14
MR merged into master

[2016-09-15 18:35] #14 closed

[2016-09-15 20:12] ricco386 commented on #12
@TomasHo order is an aggregator of tickets, so lets say company wants to send 10 people to the conference, they do not want to have 10 tickets and 10 receipts, instead they want just one.

If 2 from this people have an discount codes they can apply them on their tickets and in the order there is aggregated price for all 10 people, and also aggregated discount. This allows us to have multiple ticke

[2016-09-15 20:51] ZoltanOnody commented on #1
working on it

[2016-09-15 21:52] #37 closed

[2016-09-16 06:50] #1 closed

[2016-09-16 09:27] ZoltanOnody commented on #36
I'm working on it.

[2016-09-16 10:23] ricco386 opened #47 "Register app in travis and codecov"
Since we have already tests in place register register app in travis and codecov, so we can do continuous deployment.

[2016-09-16 10:28] #36 closed

[2016-09-16 10:30] ricco386 commented on #47
Once MR #43 is approved this should start working (currently missing urls file that will be added in MR)

[2016-09-16 13:25] #47 closed

[2016-09-16 13:59] ricco386 commented on #21
hardcoded navigation is too early, we need the views first will create separate issue for this once all 0.1 views are in place...

[2016-09-16 16:30] #15 closed

[2016-09-16 16:30] ZoltanOnody opened #53 "Minor issues in models"
I went through the app and find the following bugs/limitations.

## Location
- [x] `street2` is required. Does it need to be?

## Events
- [x] we need to enforce `date_from` to be earlier than `date_to`

## Discount codes
- [x] ~~it shows **Discount codess** in admin. `verbose_name_plural` must be changed.~~
- [x] rename `DicountCodes` to `DiscountCode`

## Ticket types
- [x] we need to enforce `a

[2016-09-16 18:26] TomasHo commented on #16
working on this

[2016-09-16 19:19] ricco386 commented on #53
I just drew DB schema, and drafted models from it so surely it can have some polishing 😄 we haven't implement any logic in models yet. You are right in all of the things, we can implement them as you suggested.

The only thing is that discount_codes should be renamed to discount_code as we use singular for all other models, instead of changing verbose_name_plural.

All url and social_url and spons

[2016-09-16 19:48] ZoltanOnody commented on #53
Ok, I get it now. It just sounded strange so that's why I asked.

I haven't known that. Thanks for explaining :)

[2016-09-16 20:14] TomasHo commented on #16
At the moment Speaker in not related to Event, just Sponsor. Should we introduce a Many2Many field at this point?

[2016-09-16 20:59] ricco386 commented on #16
no need for that, speaker has to have talk, and talk is tied to event.

So if you filter all talks for event and than you can access all the speakers, use can use select related, we have discussed earlier.

[2016-09-17 08:36] ricco386 opened #58 "Improove automated test"
Add more automated tests, so we improove out test coverage.

[2016-09-17 13:24] TomasHo commented on #17
working on this

[2016-09-17 13:26] Redpoint1 commented on #19
still not closed?

[2016-09-17 16:20] ricco386 commented on #16
PR merged into master

[2016-09-17 16:20] #16 closed

[2016-09-17 16:42] kapucko commented on #22
I'm taking this one

[2016-09-17 18:05] ricco386 commented on #53
I have updated event, and as a PR #63 date_from, date_to validation...

[2016-09-17 18:07] ricco386 opened #64 "Add ability to translate project"
Update all existing labels (constants, messges, etc...) to use translation strings.

https://docs.djangoproject.com/en/dev/topics/i18n/translation/

[2016-09-17 18:15] kapucko commented on #22
@ricco386 could you give me please more details on this? I'm a bit confused...

[2016-09-17 18:16] ricco386 opened #66 "Update talk admin class"
Create TalkAdmin class than can do following:

* filter by: type, duration, status, event (try and add if you like this filter)
* list view, show fields: title, type, status, event, speaker (try and add if you like this filter)
* group form fields:
  * description: title, abstract, evet
  * details: type, status, duration, speakers

any other improvements, welcome...

[2016-09-17 18:17] ricco386 opened #67 "Update admin classes"
U96pdate admin classes to be more descriptive... Initital version 0.1 will use Django admin for adding all stuff, so lets make admin nicer for user. This is the list of new issues to update all existing admin classes.

- [x] #66 TalkAdmin class
- [x] #68 SpeakerAdmin class
- [x] #69 SponsorAdmin class
- [x] #82 LocationAdmin class
- [x] #83 DiscountCodeAdmin class
- [x] #84 TicketTypeAdmin class
-

[2016-09-17 18:23] ricco386 opened #68 "Update speaker admin class"
Create SpeakerAdmin class than can do following:

* filter by: country
* list view, show fields: last_name, first_name, country, social_url
* group form fields:
   * name: title, first_name, last_name
   * contact: email, phone
   * about: bio, url, social_url, country, sponsor

any other improvements, welcome...

[2016-09-17 18:27] ricco386 opened #69 "Update sponsor admin class"
Create SponsorAdmin class than can do following:

* list view, show fields: title, type, url
* group form fields:
   *  details: all fields can be here...
   *  events: list of events where is sponsoring
   *  soeakers: list of speakers that shopsor had

any other improvements, welcome...

[2016-09-17 18:30] ricco386 commented on #19
sorry for delay...

[2016-09-17 18:30] #19 closed

[2016-09-17 18:51] ricco386 opened #70 "Amend TicketType model"
TicketType is missing a choice field: attendee_type

choices: volunteer, press, attendee, supporter, sponsor, aid

Once done, migration should be re-generated.

[2016-09-17 18:53] ricco386 commented on #22
@kapucko sure...

Idea is to create a view, with form that will create a ticket for volunteer. Once the volunteer submit the (valid) form all the details will be stored in DB.

So essentially it will be [ModelForm](https://docs.djangoproject.com/en/1.10/topics/forms/modelforms/) for Ticket model.

You will have to check if for particular even exists TicketType for volunteer (attendee_type field, w

[2016-09-17 19:13] Redpoint1 commented on #70
working on it

[2016-09-17 19:49] TomasHo commented on #20
Working on this

[2016-09-17 19:55] Redpoint1 commented on #68
working on it

[2016-09-17 20:01] #70 closed

[2016-09-17 21:33] Redpoint1 commented on #66
working on it

[2016-09-17 22:40] kapucko commented on #22
Thank you @ricco386
But there is one more thing. In the Ticket model there is also FK to Order, so I need either to modify the model to allow blank/null this field or  to generate some dummy Order instance. Am I correct?

[2016-09-17 22:49] ricco386 commented on #22
@kapucko yes you are right.

There should be logic in ticked model, once it is stored without order will generate one. So I would say, for now (while developing and testing), you can modify order to be blank/null (but do not commit into PR) and I have to create related issue, with regards automatically creating order if it is not set in ticket model. Once this related issue will be done it would f

[2016-09-17 22:52] #68 closed

[2016-09-18 00:15] Redpoint1 commented on #69
working on it

[2016-09-18 07:08] ricco386 commented on #66
PR merged. Thanks.

[2016-09-18 07:08] #66 closed

[2016-09-18 07:17] ricco386 opened #75 "Update ticket model save logic"
Once ticket is created and stored in DB order should be automatically generated if it is not part of the ticket.

Create [save()](https://docs.djangoproject.com/en/1.10/topics/db/models/#overriding-predefined-model-methods) method that will check if order is not set and if so, create new order. Set status to awaiting_payment, price is copied from ticket type, and discount is calculated from percen

[2016-09-18 07:18] ricco386 commented on #22
I have created related issue #75

[2016-09-18 07:21] ricco386 opened #76 "Update order model"
In order model we should set purchase date uppon creation so it can have auto_add_now.

Create [save()](https://docs.djangoproject.com/en/1.10/topics/db/models/#overriding-predefined-model-methods) method that will check the status of order and if status changes to paid generate the datetime for payment_date.

[2016-09-18 07:23] jangondol opened #77 "Consider renaming the project"
The project is currently called `django-konfera`. It has a Slovak name (with Slovak spelling) yet its code and issues are in English. Are we going to keep it this way? Would it not be better to translate the name to English as well (especially since we are making a reusable project)?

Possible name: `django-conference` (it is available on PyPi, while `django-events` is [taken](https://pypi.python.

[2016-09-18 08:42] ricco386 commented on #77
Me 5cents to this question:

* we have this project in English because it doesn't make sense to do open source project in other language. Even if there are typos, and mistakes in text any programmer could come and pick up on this project, if it was in Slovak he wouldn't be able to...
* the name was picked up that it wouldn't be "too official" and people would understand, how ever that was target t

[2016-09-18 09:12] ZoltanOnody commented on #77
I like the name `django-konfera` because it doesn't sound official. If it was called `django-conference` I'd probably think it has something to do with *DjangoCon* or some other conference about *Django*.

The project is mainly design for *PyconSK* and *Python meetups in Bratislava* so I think it can have at least one thing in Slovak; the name.

[2016-09-18 09:26] jangondol commented on #77
@ZoltanOnody Yeah, I understand. If we keep the app mostly for us, this totally makes sense.

In the meanwhile, it seems that this app could be actually quite useful for PyCon conferences elsewhere and even for "non-PyCon" conferences. I haven't found many good options for Django (at least not up-to-date ones).

So, if you think this could be useful for people other than us (and since we're develo

[2016-09-18 10:39] kapucko commented on #75
I'm taking also this one.

[2016-09-18 11:00] SvetlanaM commented on #75
pre_save and post_save signals are also good https://docs.djangoproject.com/en/1.10/topics/signals/ on this

[2016-09-18 13:21] TomasHo commented on #77
I'm leaning to the idea of renaming it. Let's thing BIG ;) What about these names?
`eventizer`, `djangovent`
Exciting exercise :)

[2016-09-18 13:24] ZoltanOnody commented on #77
What about django-confera? :)

[2016-09-18 13:33] TomasHo commented on #77
What other packages with a dash do you use? ;)

[2016-09-18 13:43] ZoltanOnody commented on #77
I run `pip freeze | grep -e ".-."` in one of the projects I am working on:

    diff-match-patch==20121119
    django-autoslug==1.9.3
    django-bootstrap-form==3.2.1
    django-braces==1.9.0
    django-bulk-update==1.1.10
    django-classy-tags==0.7.2
    django-contact-form==1.2
    django-contrib-comments==1.7.1
    django-cors-headers==1.1.0
    django-crispy-forms==1.6.0
    django-debug-tool

[2016-09-18 15:33] jangondol commented on #77
@TomasHo `django-eventizer` sounds fun... :-) (And yes, prepending the name with `django-` helps discoverability).

@ZoltanOnody The name [Confera](https://www.google.com/search?q=confera) may be trademarked and therefore potentially risky to use. But it's definitely an interesting combination of English and Slovak! ;-)

To be honest, I am currently tempted by `django-conference` at the moment and

[2016-09-18 17:19] mimmon commented on #77
django-confy?

Dňa 18.9.2016 17:33 používateľ "Jan Gondol" <notifications@github.com>
napísal:

[2016-09-18 18:11] TomasHo commented on #20
@ricco386 I have worked on this a have a question or two.
I've created 2 ModelForms add_speaker & add_talk, separate views.
Question regarding talk form: Having a form where you can list all registered speakers(through FK relation) doesn't seem the right approach. Any suggestions ?

[2016-09-18 19:15] ricco386 commented on #77
@ZoltanOnody in the afternoon I was thinking just the same, lets switch k to c and use django-confera... @jangondol I wouldn't be worried about trademark as most likely we find some service or company with such name all the time, besides event if we got into trouble we rename product and start writing blogs about it and will have much more publicity 😆 ...

From google search:
* confera - some grou

[2016-09-18 19:49] ricco386 commented on #17
PR has been merged

[2016-09-18 19:49] #17 closed

[2016-09-18 19:58] ricco386 commented on #20
@TomasHo not entrely sure what you mean with:

My idea was this:

You crate 2 ModelForms, one for speaker, one for talk, but there will be just one view. New view called cfp, or similar (up to you to pick up the name). In this view you render model forms and in the template you will have one, below other. Once the forms rendered by tempaltes are submitted, you pass the data from request to the Mod

[2016-09-18 20:11] Redpoint1 commented on #18
the checkboxes are not checked but tickets are closed ... so the dependencies are solved

[2016-09-18 20:29] jangondol commented on #77
@ricco386 Good catch, `django-eventizer` is off the hook then.

BTW, I just discovered that [django-conference](https://bitbucket.org/hssonline/django-conference) already exists elsewhere. So although it is not on PyPI, we should probably consider something else to avoid confusion. And add it to the README as a possible alternative... ;-)

Speaking of playful names, other possible options include

[2016-09-18 21:06] SvetlanaM commented on #20
for this use case , django formsets is very good, if you need implementation advice

[2016-09-18 21:13] TomasHo commented on #20
Thank you both, formsets was the thing I was missing :)

[2016-09-19 12:13] ricco386 commented on #69
@Redpoint1 thanks

[2016-09-19 12:13] #69 closed

[2016-09-19 12:14] ricco386 commented on #67
Bug is not closed as I need to create issues for all other models we currently have, so the list will be a bit longer...

[2016-09-19 12:22] ricco386 commented on #18
@Redpoint1 yes I have updated the issue dependencies as done.

We still need the index page, either display list or details of event...

[2016-09-19 16:00] ricco386 commented on #21
We can have base template same style as PyCon SK 2016, eg. with some fixtures we can easily build replica of the site (replica is probably on higher version as we dont have all the functionality, but list sponsors for example might work fine)...

[2016-09-19 16:04] ricco386 opened #82 "Create LocationAdmin class"
Create LocationAdmin class than can do following:

* filter by: city
* list view, show fields: title, city, capacity
* group form fields:
  * details: title, capacity
  * address: all other fields

any other improvements, welcome...

[2016-09-19 16:12] ricco386 opened #83 "Create DiscountCodeAdmin class"
Create DiscountCodeAdmin class than can do following:

* list view, show fields: title, discount, ticket_type, usage
* group form fields:
  * details: title, usage, hash
  * discount: discount, usage
  * availabilty: date_from, date_to

any other improvements, welcome... Suggestion, add function that return status of discount: not available yet, active, expired depending on current datetime and va

[2016-09-19 16:17] ricco386 opened #84 "Create TicketTypeAdmin class"
Create TicketTypeAdmin class than can do following:

* filter by: attendee_type
* list view, show fields: title, price, attendee_type, event
* group form fields:
  * details: title, description, price, attendee_type, event
  * availabilty: date_from, date_to

any other improvements, welcome...

Suggestion, add function that return status of ticket type: not available yet, active, expired depending

[2016-09-19 19:18] ricco386 commented on #53
I will do the fixes.

[2016-09-19 20:12] bolyesz commented on #82
working on it

[2016-09-20 06:36] ricco386 commented on #82
PR approved, thank you

[2016-09-20 06:36] #82 closed

[2016-09-20 14:49] ricco386 commented on #53
@ZoltanOnody please review PR #86

[2016-09-20 15:01] ricco386 commented on #23
duplicate of #75

[2016-09-20 15:01] #23 closed

[2016-09-21 09:16] ricco386 opened #88 "Update event model"
~~Updte event model with new field: social_media_meta and social_media_list both should be [JSONField](https://docs.djangoproject.com/en/dev/ref/contrib/postgres/forms/#jsonfield) and it is not required. We will store different social media types in json. I will create another issue with structure of json and how we will display the data.~~

~~This will give us flexibility to have different social

[2016-09-22 12:31] ricco386 commented on #53
PR merged to master.

[2016-09-22 12:31] #53 closed

[2016-09-22 13:24] ZoltanOnody commented on #64
I'll add it to templates

[2016-09-23 09:18] jangondol commented on #77
`django-confero` ("Náš spolužiak Fero...") :wink:

FYI: globally unique name, so it would be easy to find & track its usage via Google...

[2016-09-23 09:25] ricco386 commented on #64
PR merged to master

[2016-09-23 09:25] #64 closed

[2016-09-23 10:00] TomasHo commented on #77
Booooo, sexism in IT on full display. What about all those Františka-s that you might offend ?? :)

Apart from that joke - `django-conferp` sounds fine to me

[2016-09-23 10:11] ZoltanOnody commented on #77
Honestly, I wouldn't know what does the app do just from `django-confero`. Now I realized that probably it's the same with `django-konfera` for non-Slovak speakers.

[2016-09-23 10:21] ZoltanOnody commented on #76
I'll do it

[2016-09-23 10:37] jangondol commented on #77
@ZoltanOnody `django-confmgmt`? :wink:

[2016-09-23 14:53] ZoltanOnody commented on #18
I'll do it.

[2016-09-23 19:26] ricco386 commented on #76
PR merged to master.

Thnak you.

[2016-09-23 19:26] #76 closed

[2016-09-23 20:46] ricco386 opened #92 "Create OrderAdmin class"
Create OrderAdmin class than can do following:

* filter by: status
* list view, show fields: purchase_date, price, discount, status, receipt
* group form fields:
 * details: price, discount, status
 * dates: purchase_date, payment_date (readonly)
 * inline: receipt (default can be empty), no need  to have othe receipt admin calss

any other improvements, welcome...

[2016-09-23 20:46] ricco386 commented on #92
I am working on this

[2016-09-23 21:48] kisso commented on #84
I am working on it.

[2016-09-23 22:38] kisso commented on #84
Should the status depends only on time?

[2016-09-24 06:44] ricco386 commented on #84
@kisso yes for now it is sufficient that status is generated by the time compared with from to dates. In the future if we found a use case for different behavior we will refactor.

[2016-09-24 22:19] ricco386 commented on #18
@Redpoint1 @ZoltanOnody thanks PR has been merged to master

[2016-09-24 22:19] #18 closed

[2016-09-24 22:35] ricco386 opened #96 "Create RoomAdmin class"
Create RoomAdmin class than can do following:

Update location with inline classes to RoomAdmin (similar to receipt order, but we use standard foreign key instead). No need for extra room class in admin, we can allways do it as a part of location...

any other improvements, welcome...

Room model update: add foreign key to Location

[2016-09-25 21:09] ricco386 commented on #92
PR merged

[2016-09-25 21:09] #92 closed

[2016-09-26 20:33] ricco386 opened #97 "CfP issues"
@TomasHo I have found few issues with CfP view while testing, please have a look and fix.

* if event does not exists return 404 instead of form, as the store results in error anyway.
* once forms are saved, redirect to event details (not list of events).
* change url from add_cfp just to cfp

[2016-09-26 20:41] ricco386 commented on #97
You can pull from my branch [97-CfP_issues](https://github.com/ricco386/django-konfera/tree/97-CfP_issues) I have created test for both of this issues.

[2016-09-27 06:55] ricco386 commented on #77
OK, i think it is time to decide. Please write down the name you like. At 30th I will do the release and by that time we have to decide, rename and update the code, where necessary...

[2016-09-27 06:57] ricco386 commented on #77
I vote to leave the package name as it is now.

**django-konfera** - I have described my reasons in a comment above.

[2016-09-27 07:02] jangondol commented on #77
My vote: **`django-confero`**. Similar to django-konfera, *easier to spell for non-Slovaks* (also "django" and "confero" kind of rhyme).

[2016-09-27 07:29] ZoltanOnody commented on #77
I vote to leave it as it is - **django-konfera**

[2016-09-27 09:33] TomasHo commented on #77
I vote for **`django-confero`**

[2016-09-27 18:09] ricco386 opened #98 "Add ability to process FIO bank transfers"
FIO bank has API that allows to download transactions statement: http://www.fio.sk/docs/cz/API_Bankovnictvi.pdf

Create a view that can be called by cron every X hours (lets assume 24) and will download transactions and compare them with orders. Each order has to have its own unique numeric ID, this ID is presented to user and he can select bank transfer as a payment method.

We need to go through

[2016-09-27 18:21] ricco386 opened #99 "Add ability to process PayPal payments"
PayPal has API that allows to create payments and notify us via callbacks:  https://developer.paypal.com/docs/integration/web/accept-paypal-payment/

Create a view where user can select PayPal Payment as a payment method for his order. Fill out necessary data, and we post data to PayPal, (user will need to confirm the payment) and on successful payment we are notified by PayPal, and order status c

[2016-09-27 18:36] ZoltanOnody commented on #98
I'll do it.

[2016-09-27 18:38] ricco386 commented on #20
I have merged PR. but in the mean time I have found few isses reported in separate bug #97

[2016-09-27 18:38] #20 closed

[2016-09-27 19:36] ricco386 opened #100 "Remove null=True from text fields"
Avoid using null on string-based fields such as CharField and TextField because empty string values will always be stored as empty strings, not as NULL. If a string-based field has null=True, that means it has two possible values for “no data”: NULL, and the empty string. In most cases, it’s redundant to have two possible values for “no data;” the Django convention is to use the empty string, not

[2016-09-27 19:43] jangondol commented on #98
Consider using an external app for this (see [django-fiobank](https://pypi.python.org/pypi/django_fiobank)) or handling payments in a more abstract way. `django-konfera` is getting pretty big and if we start integrating banks *directly*, reuse by others may become difficult.

[2016-09-27 21:32] ricco386 commented on #98
I agree with @jangondol that if we want to have reusable app this could go into separate app and we shall build hooks in order so we can connect any type of payment provider.

However, I have create this issue as something more difficult for experienced person so he doesnt have to work with simple tasks, and he can leave the simple tasks to other less experienced. So in this case I dont mind if @Z

[2016-09-28 19:45] bolyesz commented on #100
working on it :)

[2016-09-28 21:09] ricco386 commented on #100
@bolyesz thanks PR is in master

[2016-09-28 21:09] #100 closed

[2016-09-29 21:57] ricco386 commented on #75
PR merged

[2016-09-29 21:57] #75 closed

[2016-10-01 03:30] jangondol commented on #77
At this moment we have a tie: two votes for `django-konfera` and two votes for `django-confero`. If no other votes come in, we need to find a mechanism how to decide. The simple solution is to leave this "as is" (and perhaps revisit the issue in the future in case more consensus builds up or if there is a need). Also, @ZoltanOnody and @ricco386 made more contributions to this project than me, so i

[2016-10-01 03:36] jangondol opened #107 "Release party for 0.1"
Hi @pyconsk/volunteers, our new Django project is nearing its first ever release, `0.1`. Time to celebrate, right? @ricco386, let's open champagne or at least [Club-Mate](https://en.wikipedia.org/wiki/Club-Mate) at our upcoming meetup... Other celebration ideas welcome... ;-)

[2016-10-01 08:55] ZoltanOnody commented on #77
I suggest to let's wait for the meetup and vote there. Of course the votes here will be counted as well, in case someone cannot make it to the meetup.

[2016-10-01 15:38] ricco386 commented on #107
:+1:

[2016-10-01 17:57] #84 closed

[2016-10-01 17:58] ZoltanOnody commented on #83
done in #106

[2016-10-01 17:58] #83 closed

[2016-10-01 18:04] ZoltanOnody commented on #96
done in #102

[2016-10-01 18:04] #96 closed

[2016-10-01 19:58] ZoltanOnody opened #110 "Social media for events"
# Original issue

Updte event model with new field: social_media_meta and social_media_list both should be JSONField and it is not required. We will store different social media types in json. I will create another issue with structure of json and how we will display the data.

This will give us flexibility to have different social medias per event and also flexibility in which social media will b

[2016-10-01 20:47] ZoltanOnody opened #111 "Price cannot be negative"
the models should accept only non-negative price

[2016-10-02 07:49] ricco386 commented on #88
PR merged

[2016-10-02 07:49] #88 closed

[2016-10-02 07:52] ricco386 commented on #67
PR merged I think we have nice admin :+1:

[2016-10-02 07:52] #67 closed

[2016-10-02 07:57] ricco386 commented on #111
PR approved, I have updated your migration, with date conflict.

[2016-10-02 07:57] #111 closed

[2016-10-02 12:11] kapucko commented on #77
I think that sometime the first idea is the best one. So I would vote to leave it as is.

[2016-10-02 17:18] ricco386 commented on #22
PR merged

[2016-10-02 17:18] #22 closed

[2016-10-02 20:51] ricco386 opened #116 "Speaker model country field change to dropdown"
Since there is limited amount of countries, change it to dropdown with list (everywhere, forms, admin, etc...) of all countries, and SK predefined value.

[2016-10-02 21:32] ricco386 commented on #21
PR merged

[2016-10-02 21:32] #21 closed

[2016-10-03 21:09] ricco386 opened #120 "volunteers registration (view and form) updates"
view updates:
 * after storing data in DB  show successful message
 * make sure ticket_type is public

form updates:
 * Make description field required.
 * Add help text for description: Please tell us something about yourself.

[2016-10-03 21:16] ricco386 opened #121 "Generate translations strings."
Generate translation strings for application.

[2016-10-04 06:50] ricco386 opened #122 "private registration view"
Add a view that will check uuid in the url, based on this uuid form for ticket is rendered.

* Make sure TicketType UUID get from url and ACCESSIBILITY is Private
* TicketType has to be in available date range
* ticket with price is in requested state, everyone else in state registered
* Those in requested state have description required field in the form

[2016-10-04 06:58] ricco386 commented on #107
We will do the release at [meetup](https://2016.pycon.sk/sk/ba-14-meetup.html) today.

I will try to get some refreshments :beer:

[2016-10-04 06:58] #107 closed

[2016-10-04 07:08] ricco386 commented on #97
Unfortunately I have removed the branch so you can copy the test from commit 682b108.

I have changed the template to use tables as form, but I have decided that as_p is more flexible so please re-factor view to use p instead of table.

[2016-10-04 07:16] ricco386 opened #123 "Minor registration view refactoring"
In view, please get rid of the `if  request.method == "POST"` line with `form = VolunteerRegistrationForm(request.POST or None)` this way we can get rid of one if statement so the code is easier to read (more if statement worse [Cyclomatic complexity](https://en.wikipedia.org/wiki/Cyclomatic_complexity) score results). *See cfp_form_view as an example.*

In template update the button to be nicer a

[2016-10-04 07:36] ricco386 opened #124 "Refactor event to its own module"
I see the pattern of event in multiple views, urls, so lets set it free and move it its own [module](https://docs.python.org/3/tutorial/modules.html). This way we should have less conflicts in long run.

Module should looks like this:

konfera
├── admin.py
├── ....
├── event
│   ├── __init__.py
│   ├── forms.py
│   ├── urls.py
│   └── views.py
├── ....
├── urls.py
├── utils.py
└── views.py

urls i

[2016-10-04 07:43] ricco386 opened #125 "Refactor registration to its own module"
I think we will have the pattern of register in multiple views, urls, so lets set it free and move it its own module. This way we should have less conflicts in long run.

Module should looks like this:

konfera
├── admin.py
├── ....
├── register
│   ├── init.py
│ ├── forms.py
│ ├── urls.py
│   └── views.py
├── ....
├── urls.py
├── utils.py
└── views.py

urls in konfera should include everything in

[2016-10-04 07:44] ricco386 commented on #123
There is an issue #125 that changes the directory structure to avoid conflicts, lets do the parent issue first.

[2016-10-04 07:45] ricco386 commented on #122
There is an issue #125 that changes the directory structure to avoid conflicts, lets do the parent issue first.

[2016-10-04 07:46] ricco386 commented on #125
To avoid conflicts this issue should be done before #122 and #123 that suggests more registration improovements.

[2016-10-04 07:49] ricco386 commented on #120
Once you are at it please also do this improovments:

In view, please get rid of the if request.method == "POST" line with form = VolunteerRegistrationForm(request.POST or None) this way we can get rid of one if statement so the code is easier to read (more if statement worse Cyclomatic complexity score results). See cfp_form_view as an example.

In template update the button to be nicer and uses

[2016-10-04 07:49] ricco386 commented on #120
There is an issue #125 that changes the directory structure to avoid conflicts, lets do the parent issue first.

[2016-10-04 07:50] ricco386 commented on #123
Moved this issue into related issue #120 as the problem is related.

[2016-10-04 07:50] #123 closed

[2016-10-04 08:06] ricco386 opened #126 "Crete meetups list view"
Create view that will list all meetups, order by date. (At the moment doesnt have its own module, we re-factor if necessary later).

url: /meetups

Try to apply styling similar to the one at [pycon.sk/en/meetup.html](https://2016.pycon.sk/en/meetup.html).

[2016-10-04 08:30] ricco386 opened #127 "Refactor list all events"
Update urls to: /events (this is due to UX and ease of remember url for human)

Template look for all events needs a bit polishing, since we have already base template and [bootstrap](https://getbootstrap.com/) and [pycon](https://2016.pycon.sk) stylesheets available. Update [pagination](https://getbootstrap.com/components/#pagination).

List look update to be more like [meetup list](https://2016.

[2016-10-04 08:31] ricco386 commented on #124
To avoid conflicts this issue should be done before #127

[2016-10-04 13:33] ricco386 opened #128 "List all speakers should display only approved speakers"
List all speakers should display only approved speakers.

[2016-10-04 13:42] ricco386 opened #129 "Create schedule view"
Create schedule view, if event has defined some schedule, create view that will display it. Please add also design similar to the one at https://2016.pycon.sk/sk/schedule-friday.html

[2016-10-04 14:02] ricco386 opened #130 "Create public tickets view"
Add a view that will list all available ticket types, user will be able to select what kind of ticket he would like to register.

[2016-10-04 14:02] ricco386 commented on #130
There is an issue #125 that changes the directory structure to avoid conflicts, lets do the parent issue first.

[2016-10-04 14:08] ricco386 opened #131 "Add ability to overwrite analytics code"
We have global setting for whole page with analytics code, but each event can have its own code. If event has one make sure event code is rendered instead of the global one.

[2016-10-04 14:10] ricco386 opened #132 "Event footer text"
Event has the ability to dispaly footer text so update this text in base template on every event page.

[2016-10-04 16:29] jangondol commented on #77
Vote results at the meetup: 5 votes for `django-konfera`, 5 votes for `django-confero` (aaargh!). To resolve the tie, @ricco386 decided that he would have two votes, so the new vote results are 6 to 5 and the package name remains `django-konfera`... :-)

[2016-10-04 16:29] #77 closed

[2016-10-04 16:53] bolyesz commented on #128
working on it.

[2016-10-04 17:00] Sb8691 commented on #125
OK i'm taking this task...

[2016-10-04 17:03] ricco386 commented on #124
PR merged

[2016-10-04 17:03] #124 closed

[2016-10-04 17:12] richban commented on #126
I'm working on it.

[2016-10-04 17:25] Matusf commented on #132
Working on it

[2016-10-04 18:17] #128 closed

[2016-10-04 18:18] ricco386 commented on #132
PR merged

[2016-10-04 18:18] #132 closed

[2016-10-04 18:35] Matusf commented on #127
Working on it

[2016-10-04 18:55] kapucko commented on #131
I'm taking this one issue.

[2016-10-05 07:01] ricco386 commented on #97
I will work on this

[2016-10-05 14:16] ZoltanOnody commented on #129
I'll do it.

[2016-10-06 15:32] ricco386 commented on #127
PR merged

[2016-10-06 15:32] #127 closed

[2016-10-07 19:08] #129 closed

[2016-10-07 19:50] ricco386 commented on #97
PR merged

[2016-10-07 19:50] #97 closed

[2016-10-07 20:06] ricco386 opened #143 "List event minor updates"
Change order that latest event is displayed first.
Change link to event details instead of sponsor.

[2016-10-07 20:11] ricco386 opened #144 "Minor code refactoring"
Update all urls.py to use slug instead of event_slug (view params should be updated a ccordingly)
Remove unused imports (views.py)

[2016-10-07 20:59] bolyesz commented on #144
I'll do it :)

[2016-10-08 07:38] ricco386 commented on #125
PR merged
@Sb8691 @kapucko thanks

[2016-10-08 07:38] #125 closed

[2016-10-08 10:58] kapucko commented on #130
@ricco386 Do you want to modify the already existing volunteer registration form? It would be possible to add there dropdown menu with list of all available ticket types for given event. And the url could be /register/event/<event_slug> . That's my idea but maybe you had  something else in your mind.

[2016-10-08 17:12] #121 closed

[2016-10-08 17:39] ricco386 commented on #130
@kapucko my idea was that we will have a page that will display all tickets, with the description, price, etc... So the user can choose, student or standard or supporter or anything else that will be defined as public ticket... Once user select ticket he will just click on the link type and on second page form will be presented where he fills the details.

So you can modify volunteer registration

[2016-10-08 17:39] #144 closed

[2016-10-08 17:54] ricco386 opened #148 "Ticket save validation"
Creating ticket allows to store not valid data. If you have multiple ticket types for multiple events and discount codes in multiple events. System does not check if you do not mix discount codes and different events. Update save method to check if discount code belongs to ticket type

[2016-10-08 18:04] ZoltanOnody commented on #122
I'll do it

[2016-10-08 18:33] ricco386 opened #149 "Update Order save function"
Currently if we create order via admin we can and add multiple tickets. Update order save method to re-calculate price and discount for all tickets together.

[2016-10-08 19:13] bambielli commented on #148
I can take a look

[2016-10-08 19:18] ricco386 commented on #148
@bambielli thanks, if you have question do not hesitate to ask. It would be great if you also provide unittest for your code (it is not required, but we encourage good practice :smile: )

[2016-10-08 19:20] ricco386 commented on #116
@abhishekg785 how it is going? Do you need more info, with regards this issue?

[2016-10-08 19:25] bambielli commented on #148
of course!

[2016-10-08 19:54] yash2696 commented on #149
I want to try this..

[2016-10-08 20:09] bolyesz commented on #143
I'll do it ! :)

[2016-10-08 22:04] bambielli commented on #148
After speaking with @ricco386, we decided to put the validation logic in the ticket model save method. Validation logic like this definitely belongs in the model, not in the view, and the model can raise a validationerror with text that gets passed back to the order view.

Expected Implementation:

For the ticket being saved, check to see if the ticket_type for the selected discount_code is the sa

[2016-10-09 15:02] sourabh1024 commented on #116
What do you mean by SK predefined value ?

[2016-10-09 15:12] ZoltanOnody commented on #116
Slovakia should be the default country.

On Oct 9, 2016 5:02 PM, "sourabh1024" <notifications@github.com> wrote:

[2016-10-09 16:07] sourabh1024 commented on #116
Also , is there any predefined list of countries, which dropdown should have ?

[2016-10-09 16:40] #148 closed

[2016-10-09 16:57] andela-ijubril commented on #149
Hi @yash2696 still on this?

[2016-10-09 17:00] andela-ijubril commented on #130
Is anyone working on this?
I would like to give this a shot.

[2016-10-09 17:03] andela-ijubril commented on #120
Hi @ricco386, I would like to takea shot at this.

[2016-10-09 17:40] #126 closed

[2016-10-09 17:42] kapucko commented on #130
@andela-ijubril I haven't started yet, so you can take it.

[2016-10-09 17:53] ricco386 commented on #131
PR merged

[2016-10-09 17:53] #131 closed

[2016-10-09 19:40] ricco386 commented on #116
create file countries.py and add translatable constants:

SLOVAK_REPUBLIC = 'SK'
CZECH_REPUBLIC = 'CZ'

COUNTRIES = (
    (SLOVAK_REPUBLIC, _('Slovak Republic')),
    (CZECH_REPUBLIC, _('Czech Republic')),
)

This way we can import COUNTRIES as a choice field in any model... List of all countries in the world, can be found for example here: https://www.countries-ofthe-world.com/all-countries.html

[2016-10-09 19:41] ricco386 commented on #120
Hello @andela-ijubril sure go ahead. If you need more info or something is not clear just ask. Thanks

[2016-10-09 19:46] ricco386 commented on #130
@kapucko if you have time you can carry on with this issue, and @andela-ijubril can do the issue #120 Thanks guys...

[2016-10-09 19:47] jangondol commented on #116
@ricco386 Standard list of countries + country codes: [ISO 3166-1](https://en.wikipedia.org/wiki/ISO_3166-1).

[2016-10-09 19:50] ricco386 commented on #116
thanks @jangondol I just got the first link from google :smile: this list make the issue easier, as there is the alpha-2 code.

[2016-10-09 20:05] kapucko commented on #130
Ok :)

[2016-10-09 20:13] ricco386 opened #156 "Update schedule model validation"
When storing schedule model add clean and save methods (see ticket for inspiration), that will do the following validation:
- Only approved talk can be scheduled
- If talk is selected duration is copied from talk
- Event is related to location and location has room, make sure selected room in schedule belongs to Event's location
- Make sure date and time is within the event's range
- Make sure sys

[2016-10-09 20:20] ricco386 opened #157 "Ticket's discount code usage"
Once ticket is saved, and if discount code is applied, make sure we do not have more discounted tickets, than allowed usage defined in discount code.

[2016-10-09 22:33] andela-ijubril commented on #120
Hi @ricco386, I need more info on this issue. Thanks

[2016-10-10 09:02] ZoltanOnody commented on #122
Unfortunately I don't have time to finish it this week.

[2016-10-10 10:14] mimmon commented on #157
I'll take this.

[2016-10-10 19:58] masterp4dev commented on #156
Hi @ricco386, I would like to try this.

[2016-10-11 14:57] ricco386 opened #160 "Meetups list updates"
Meetups list page has several problems:

* register/meetups/ -> should be just /meetups/, eg. create views.py in root directory and move the view from register name space. Also urls.py in root directory of the project should load the view.
* change order that latest meetup is displayed first.
* pagination is not styled (see events list how the pagination shoul looks like).
* meetup have to link to

[2016-10-11 15:09] ricco386 commented on #156
Hi @masterp4dev sure go ahead...

[2016-10-11 15:18] ricco386 opened #161 "Update constants in all models"
Currently we have constants outside the models class:

[code]

move all constants inside the class:

[code]

this way we can import just Event and access class Event.MEETUP, instead of extra import. Besides this is according Django documentation.

Please go through all models and fix also const usage in models.

[2016-10-11 15:54] minibhati93 commented on #161
Hi @ricco386 . I am a beginner in Django. Can I still try this ?

[2016-10-11 16:21] neelab commented on #160
@ricco386 - I'll do this!

[2016-10-11 17:15] ricco386 commented on #161
Hello @minibhati93, yes this is really easy issue, and it is suitable for beginner.

Try to setup the project as it is explained in the example readme. And once it is up and running just go through all models and move constants into classes. You will also need to go through all other files and check if we are importing constants and import class instead and update the code.

[2016-10-11 18:52] ricco386 commented on #161
@minibhati93 seems there is already PR #162 for this issue, but dont worry I will create few more very soon...

[2016-10-11 18:58] Redpoint1 commented on #110
I will take this issue. I create new field type JSONField.

[2016-10-11 19:02] ZoltanOnody commented on #161
@PKpacheco we would appreciate if in the future you signed up for an issue by leaving a comment. It prevents the situation where 2 people work on the same thing. :)

[2016-10-11 19:04] ZoltanOnody commented on #110
`JSONField` is postgresql specific so I am not sure that's the way we want to go.  @ricco386 ?

[2016-10-11 19:05] Redpoint1 commented on #110
ooops *similar to JSONField

[2016-10-12 00:34] neelab commented on #160
@ricco386 - Having some trouble setting up the project and running it locally. Is there a point of contact I can ask questions to?

[2016-10-12 05:43] mimmon commented on #157
Do we need to keep track of when has the discount code been applied in separate place or is it enough to simply subtract from usage?

[2016-10-12 07:40] ricco386 commented on #160
yes we have gitter: https://gitter.im/pyconsk/django-konfera event thou there is slovak chatter, you can ask the group in english and someone will respond...

[2016-10-12 13:03] neelab commented on #160
Hi @ricco386 - Thanks! I'll ask you as well since it was a project setup question.
I added Konfera to my INSTALLED_APPS in `settings.py`:
[code]

And the url to `urls.py`:
[code]

But when I run `python manage.py loaddata konfera/fixtures/test_data.json`, I get an error of `CommandError: No fixture named 'test_data' found.`. I created a symbolic link according to the instructions, but I can't seem

[2016-10-12 20:25] ricco386 commented on #160
@neelab I have updated documentation please have a look at [CONTRIBUTING.rst](https://github.com/pyconsk/django-konfera/blob/master/CONTRIBUTING.rst). Please try again with the updated steps, should work I went through the installation and seems ok now.

[2016-10-12 20:32] ricco386 commented on #157
Write a method that will do a search for discount codes, eg. how many times it was used. During ticket save (in clean method) call your new method and compare result with usage, if it should exceed the usage raise validation error.

[2016-10-12 22:26] mimmon commented on #157
Sorry, I've found your instructions too late. I've already made a pull request. Although, it seems to me that my contribution is pretty close to your instructions and also it worked during my tests, I will appreciate if you let me know if there are some flaws or a way to better follow the Django's best practices.

[2016-10-15 13:24] ricco386 commented on #98
PR merged, with sync functionality. We might improove in future, but separate issue will be created for it.

[2016-10-15 13:24] #98 closed

[2016-10-16 17:13] ZoltanOnody commented on #116
done in #159

[2016-10-16 17:13] #116 closed

[2016-10-16 17:20] ZoltanOnody commented on #156
Hey @masterp4dev how is it going? If you need any advice, feel free to ask.

[2016-10-16 17:21] ZoltanOnody commented on #149
@andela-ijubril I think you can do it if you are still interested in it :)

[2016-10-16 17:22] ZoltanOnody commented on #143
@bolyesz how is it going? :)

[2016-10-16 21:25] kapucko commented on #130
In progress...

[2016-10-17 19:06] #160 closed

[2016-10-17 19:30] ricco386 commented on #120
PR #130 has been closed thanks @andela-ijubril

[2016-10-17 19:31] #120 closed

[2016-10-18 16:41] EmilLuta commented on #156
Hello guys. I'm not sure on how the current progress is going, but I was wondering if I could give it a go. What do you think?

[2016-10-18 17:10] ZoltanOnody commented on #156
@EmilLuta sure :)

[2016-10-18 20:16] simonsmiley commented on #122
@ricco386, @ZoltanOnody I just submited a pr. I didn't get all of what was required, but I guess most of my merge request makes sense. I guess it would be possible to improve it, but that can be discussed there rather than here :-)

[2016-10-18 20:29] simonsmiley commented on #110
Why not just create a new model for social media with whatever fields are required and use a use then either use foreign keys in the new model or create a many-to-many mapping

[2016-10-18 20:37] simonsmiley commented on #143
I assumes @bolyesz abandoned this issue, so I submitted a pr

[2016-10-18 20:43] #143 closed

[2016-10-20 08:22] ricco386 commented on #122
@simonsmiley thanks, I have explained everything needed in the PR #167 I guess it is clear there, but if you have more questions do not hesitate to ask.

[2016-10-20 12:23] #122 closed

[2016-10-20 12:33] simonsmiley commented on #149
@andela-ijubril Do you still want to work on it?

If the price and discount fields for the order are automatically generated, could they be dropped from the model and replaced with a property? That would make them always reflect the current status.
Should the discount be the total discount offered on the order in currency units?

[2016-10-20 12:39] simonsmiley commented on #130
@kapucko are you still working on it?

[2016-10-20 13:33] andela-ijubril commented on #149
@simonsmiley You can go ahead with it.

[2016-10-20 15:17] kapucko commented on #130
Yes I'm

[2016-10-20 18:22] ricco386 commented on #149
@simonsmiley unfortunately they can not be replaced with property. Reason for that is that if you have order it means ticket is issued, and if someone changed the ticket_type price it would also change data in history. We want to avoid it, and price on order should reflect received amount of money at all times, no matter what change happen on other places.
The answer to your second question is Yes

[2016-10-20 20:10] ricco386 commented on #110
@simonsmiley well the thing is that we dont know what social media will be used for event, and they do differ between each other. Sample:
[code]
Besides we will use JSONField like in payments and there is the same situation again, many provides each requireing different data. Since we dont know them in advance we can not create fixed structure (as DB one) and we can use benefits of json flexibilit

[2016-10-20 20:46] ricco386 opened #171 "Update fixtures"
Update fixture (konfera/fixtures/test_data.json) to have all the data from PyCon SK 2016 (and also meetups). You can find all data at webpage: https://2016.pycon.sk

Easies way is to update data, via admin and than dump them: `./manage.py dumpdata --indent=2 > konfera/fixtures/test_data.json`

[2016-10-20 21:15] ricco386 opened #172 "Add views for aid and press registration"
We have view for registering volunteers, but we also need similar view for registering press and people who got tickets by us.

Add two more views `register_aid` and `register_press` similar to `register_volunteer` they all should use the same code base (create generic function that will use all 3 views and we will change just attendee_type).

[2016-10-20 21:27] ricco386 opened #173 "Display order"
Add new view that will display order details.

Once ticket is saved, redirect to show order details.

[2016-10-20 21:30] ricco386 opened #174 "Conferences list"
Currently we have /meetups page that display all meetups. Create a page for conferences that will display conferences only.

[2016-10-20 21:32] simonsmiley commented on #110
in that case probably just a textfield where the json is stored manually as a string

[2016-10-20 21:36] ricco386 commented on #110
@simonsmiley yes that is the idea behind *JSONField like*, that will have encode and decode for json and some basic validation. It is not explained here properly but I already had a chat with @Redpoint1 about it.

[2016-10-20 21:43] DeKaN commented on #174
Can I use CBV (Class-based view) for this issue? Is page for conferences should use different template?

[2016-10-21 08:30] Battleroid commented on #172
If it's alright with you I'd like to give this a try.

[2016-10-21 08:51] ricco386 commented on #172
@Battleroid sure go ahead. Thanks.

[2016-10-21 09:00] ricco386 commented on #174
@DeKaN currently we have views.py in root directory which contains only meetup_list function. Purpose of this task is to create conferences_list function that will list event_type=CONFERENCE.

Yes you can re-factor to use CBV (Class-based view), for both of this views (your new one and also meetup_list). Please create a generic function that both views will use, so we dont duplicate the code. And

[2016-10-21 14:46] arruda commented on #171
Hi there, just landed in this project, so I'm a bit lost. Could you point out exactly what are the data that you want from the  https://2016.pycon.sk?
Or what are the django models that will be used, so that I can understand a bit more of what is needed in this update =)?

[2016-10-21 14:50] iraquitan commented on #173
Hi, I'd like to give it a try. Can you give me some initial details? The ticket is saved through the Orders admin view?

[2016-10-21 15:19] arruda commented on #171
Just to see if I got the idea of this issue, the models you want to add more fixtures to are this:

* Event (Location, Sponsors)
* Schedule (Room, Talk, Speaker)

And this should be got not only from the Pycon SK 2016 event, but also from the meetup page, right?

[2016-10-21 15:29] arruda commented on #171
Sorry for the huge amount of questions, but regarding the sponsors of PyconSK, in the event page There are also some that appear under the labels `Main media partner`, `Media partners`, `Partners Conference` and also the `Supporters of the conference` part. This ones should also be added to the fixtures under `Other` sponsor type?

Not all the Supporters of the conference have the required fields

[2016-10-21 19:48] ricco386 commented on #173
if you open in browser `http://127.0.0.1:8000/register/volunteer/event/2016/` you will see registration page. Once it is filled new ticket is created, ticket automatically generate an order. Purpose of this task is to create view that will display details of this order and update the view that user is redirected to see details of his order.

Order has uuid please use that in url of your new view.

[2016-10-21 20:05] ricco386 commented on #171
@arruda no problem, I should better defined the task...

`http://127.0.0.1:8000/admin/konfera/event/` (type meetup): https://2016.pycon.sk/en/meetup.html (fixture already contains 11 of them)
`http://127.0.0.1:8000/admin/konfera/speaker/`: https://2016.pycon.sk/en/speakers.html (fixture already contains 4 of them, for email use: privateX@example.com, dont worry about sponsor relation)
`http://127.

[2016-10-23 16:42] arruda commented on #171
I see, I'll get into it then =)
Thanks

[2016-10-23 16:51] DeKaN commented on #174
@ricco386 Is redirect needed for list with one item? You can see first solution in #176

[2016-10-23 18:46] ricco386 commented on #174
@DeKaN looks good, yes I think it is better UX, why show screen where user doesnt have anything to choose from. Therefore I prefer to redirect to event details if there is only one... I spotted just minor things

[2016-10-23 21:18] ricco386 commented on #174
PR merged. Thanks.

[2016-10-23 21:18] #174 closed

[2016-10-23 21:21] #171 closed

[2016-10-24 19:28] ricco386 commented on #130
PR merged. thanks

[2016-10-24 19:28] #130 closed

[2016-10-25 16:33] Battleroid commented on #172
How can I test the registration for a given sample event (e.g. an event with a slug of 'test')? I just want to make sure it works before I submit my changes.

[2016-10-26 19:06] ZoltanOnody opened #180 "tickets must be for same event in order - validation"
There can be multiple tickets in one order.
We need to validate that each ticket is for the same event.

[2016-10-26 19:17] HashCode55 commented on #180
Hey, I'd take this one... Can you just give a gist what/where the work needs to be done?

[2016-10-26 20:18] DeKaN commented on #180
When you want to validate it?

[2016-10-26 20:19] ZoltanOnody commented on #180
Before saving the order.

[2016-10-26 20:23] DeKaN commented on #180
I will write code for it

[2016-10-26 20:52] DeKaN commented on #180
@ZoltanOnody You can't check this before saving order, only before saving ticket for order.

[2016-10-26 20:57] ZoltanOnody commented on #180
Okay, so do it that way if it works.

[2016-10-27 10:06] uj00007 commented on #173
hey,i was looking into your issue ,but when i ran it ,it gives some error ,i think the apps are placed incorrectly in directories ,then i shifted them in example the it ran ok,the server was established but when i run the server in the browser,there are no pages configured or the opening html page or index.html ..is that ryt.?

[2016-10-29 11:27] EmilLuta commented on #156
@ZoltanOnody Seems like I'll have to drop this one, sadly. Feel free to reassign it to someone else.

[2016-10-29 12:13] ricco386 opened #185 "Add ability to edit CfP"
Any one can submit CfP: `http://127.0.0.1:8000/<slug>/cfp/` it creates speaker and talk. Create new view that will allow edit submitted data.

New view should be available via url: `http://127.0.0.1:8000/<slug>/cfp/<uuid>`. We should search talk uuid and return form so speaker can edit already submitted data. Edit should be available only if status is CFP or DRAFT otherwise show 404 page.

[2016-10-30 11:03] ZoltanOnody commented on #185
I'll do it.

[2016-10-30 17:43] ricco386 commented on #161
@Matusf thank you PR has been merged.

[2016-10-30 17:43] #161 closed

[2016-10-30 19:23] #185 closed

[2016-11-01 14:34] ricco386 opened #187 "Landing page settings"
Landing page (index) should redirect to one of the pages: latest conference, latest meetup, list of conferences, list of meetups (all this views are already build).

Add setting LANDING_PAGE that will have pre defined const. 'latest_conference' and do the redirect (This is current behaviour). If no conference or meetup is defined in the DB, log warning message and redirect to list.

[2016-11-01 14:59] ricco386 opened #188 "Update Travis to test with latest Django"
Update  .travis.yml to test with latest Django versions.

[2016-11-01 18:54] Matusf commented on #188
I'd like to do it

[2016-11-01 20:32] ricco386 commented on #188
@Matusf thanks
Django security releases issued: 1.10.3, 1.9.11 and 1.8.16

[2016-11-03 15:46] mimmon commented on #187
I will take this one.

[2016-11-03 16:17] ricco386 commented on #157
PR #165 has been merged

[2016-11-03 16:17] #157 closed

[2016-11-03 17:07] ZoltanOnody commented on #173
closed in #179

[2016-11-03 17:07] #173 closed

[2016-11-04 10:48] ZoltanOnody opened #194 "bootstrap alert messages"
In https://github.com/pyconsk/django-konfera/blob/master/konfera/templates/konfera/base.html#L28 there is `alert-success` hardcoded so if we add an error message as `messages.error(..)`  it shows up green.

[2016-11-06 09:22] mimmon commented on #194
I'll take this

[2016-11-06 13:18] ricco386 opened #195 "Order status change notification"
Let's build a feature that will allow notify about orders.

When new order is created, or the status has changed we can do a post with some data.

Let's define setting:
[code]
Default:
[code]
In model we create `status_change_notification` function, that will check if setting is set and if so will do a post to server. We should figurout the way that admin can customize the content. Initial post da

[2016-11-06 18:14] ricco386 opened #196 "generate sitemap.xml"
Add ability to generate [sitemap.xml](https://support.google.com/webmasters/answer/156184?hl=en)

[2016-11-06 18:19] ZoltanOnody commented on #196
I just read the *Do I need a sitemap?* part and I am not sure we need it. Is there a particular reason you want to have one?

[2016-11-06 18:28] ricco386 commented on #196
Sitemap can improove crawling by adding extra meta data (when was the page last updated, how ofter googlebot should return to it, or importance of the page), besides google webmaster tools suggested me to create a sitemap.

I dont think that this has hight priority, first we should generate the navigation. Afterwards we will see if there are some public pages that are not listed in the navigation

[2016-11-06 18:33] ricco386 opened #197 "Add venue page"
If we have event location set and location has filled in field how to get here, event should have accessible url `/<event>/venue` and this page will display content of the how to get here section. Make sure template do not escape html characters.

[2016-11-06 18:55] ricco386 opened #198 "Add new fields to event model"
Add new fields to event model (none of them is required):
* *cfp_allowed*: Boolean field, default: True, help text: Weather to allow submitting talk proposals.
* *cfp_end*: Datetime field, help text: Call for proposals deadline.
* *contact_email*: EmailField, help text: Publicly displayed email to contact organizers.
* *coc*: TextField, name: Code of Condict
* *coc_phone*: CharField, help text: Pu

[2016-11-06 22:19] mimmon commented on #198
I will take this, if it is not urgent. Please let me know so that I can assign it to myself.

[2016-11-07 07:58] ricco386 opened #199 "Generate navigation"
We have several pages but they are not connected and user does not know how to access them. Therefore we need to generete navigation page so user can access all of them.

Navigation will be different for event details and list pages:

Event navigation:
* venue (once issue #197 is done and page can be show)
* call for proposals (once #198 is done and CfP is available)
* schedule (if data available

[2016-11-07 08:13] ricco386 commented on #198
Sure, do it...

[2016-11-13 09:41] ricco386 opened #201 "Update evet with Code of Conduct field"
We need to have a way how to define code of conduct for event.

Update event model with new text fields (none of them is required):
* *coc*: TextField, name: Code of Condict
* *coc_phone*: CharField, help text: Publicly displayed phone to contact organizers.
* *coc_phone2*: CharField, help text: Publicly displayed phone to contact organizers.

Update admin area to be able to edit this new fields a

[2016-11-13 11:50] mimmon commented on #201
I'll take this as it is related to #198

[2016-11-13 12:00] ZoltanOnody commented on #201
@mimmon I appreciate your effort but I'd be happy if you could finish the previous issues before assigning yourself new one. Currently you have assigned 4 issues and there is only one PR. The problem is that if someone else would like to contribute as well, he couldn't, because most of them are already assigned.

[2016-11-13 18:22] jbub commented on #201
I'll give it a go then

[2016-11-13 19:05] ricco386 commented on #201
sorry guys this is my fault I totally forgot we already had this requirement in issue #198

Lets do it this way:
@ZoltanOnody is right that everyone should have assigned one task and when it is submited for review that he can pick up next one. Therefore I think @jbub should do this issue.

I have updated this bug to have everything related to CoC and @mimmon your bug will have bit about CfP. Howev

[2016-11-13 19:08] ricco386 commented on #198
@mimmon I have updated issue and moved few fields (coc) into separate issue, as we need it on the site. When I created that bug I totally forgot you already have it here. Sorry about this.

[2016-11-13 19:41] ricco386 commented on #201
seems that @mimmon already updated the model in issue #198 and submitter pull request #202 so I am closing this bug as we will finish it there... One more time sorry @jbub for the confusion...

[2016-11-13 19:41] #201 closed

[2016-11-13 22:06] ricco386 opened #203 "Order receipt form"
Whoever purchase a ticket should be able to fill in billing details. We store them in receipt table, this table is linked to order. Update order view (order/<uuid>/) to be able to fill the receipt section.

By default after purchase order is in  awaiting payment state (status), only in this state allow to modify receipt. On the view we should see a form for receipt, that can bu submited and it wou

[2016-11-13 22:18] ricco386 opened #204 "Add new model Organizer"
Add new model organizer, model should have following fields:

* title - char 128 (required)
* street - char 128
* street2 - char 128
* city - char 128
* postcode - char 12
* state  - choice COUNTRIES (models.countries)
* comapnyid - char 32
* taxid - char 32
* vatid - char 32
* about_us

make a migration and form for admin to be able to modify all of this information.

Update event model to have f

[2016-11-13 22:20] ricco386 opened #205 "Add view organizer for event"
Once issue #204 is done, create a view /<event_slug>/about-us that will display about_us section from the organizer model.

If this section is empty, or the foreign key is not set make sure 404 exception is raised.

[2016-11-14 10:07] kubco2 commented on #197
Im working on it.

[2016-11-14 19:21] ricco386 commented on #197
PR has been merged. Thanks.

[2016-11-14 19:21] #197 closed

[2016-11-14 19:22] ricco386 commented on #187
Isse has been merged. No need for this issue

[2016-11-14 19:22] #187 closed

[2016-11-15 13:02] #198 closed

[2016-11-16 21:53] mimmon commented on #204
I am aware that my last pull request is not yet finished because of missing tests, however, I will need a little help there. Meanwhile, I would like to take this one. Is it possible?

[2016-11-16 21:56] ricco386 commented on #149
PR #208 has been merged.

[2016-11-16 21:56] #149 closed

[2016-11-16 21:58] ricco386 commented on #204
sure, if you have a PR on review it is OK to start another. What I meant is not to start 3-4 and none of them have on review.

[2016-11-17 10:12] mimmon commented on #205
As 204 is finished, I will take this as a next step.

[2016-11-18 16:41] ricco386 commented on #204
PR has been merged. Thanks

[2016-11-18 16:41] #204 closed

[2016-11-19 08:05] jangondol opened #211 "List of countries contains errors"
`konfera/models/countries.py` contains "Yugoslavia" (a country that no longer exists) and "Cook Iislands" (apparent typo). Where does this list come from? It appears to be incorrect and should be updated.

Please note that I didn't check all countries, just noticed these two. It's possible that there are many more issues I did not notice. We should use an authoritative source for the list (and, id

[2016-11-19 09:58] mimmon commented on #211
I suggest we should follow ISO-3166 standard, namely ISO 3166-1 alpha-2.

[2016-11-19 11:11] ZoltanOnody commented on #211
@jangondol what about https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements ?

[2016-11-19 17:57] ricco386 commented on #180
PR #181 has been merged long time ago, we just forgot to close the issue.

[2016-11-19 17:57] #180 closed

[2016-11-19 21:28] jangondol commented on #211
@ZoltanOnody That sounds good! This seems to be the official source: http://www.iso.org/iso/home/standards/country_codes.htm

[2016-11-19 21:52] ricco386 commented on #156
PR #212

[2016-11-20 18:23] ricco386 commented on #188
PR merged. Thank you.

[2016-11-20 18:23] #188 closed

[2016-11-20 20:59] ricco386 commented on #205
PR merged thanks

[2016-11-20 20:59] #205 closed

[2016-11-20 21:21] mimmon commented on #211
I'll take care of this (if nobody objects).

[2016-11-20 21:24] ricco386 commented on #211
@mimmon sure go ahead

[2016-11-21 08:20] #211 closed

[2016-11-22 13:59] mimmon commented on #172
I'll take care of this.

[2016-11-23 14:46] ricco386 commented on #172
Seems this is already there, we just forgot to close the issue.

[2016-11-23 14:46] #172 closed

[2016-11-24 12:25] ricco386 opened #225 "Email templates handling"
Add ability to modify email templates easily. Currently we do have email template in settings.

Lets add new table, email_templates with following field:
name
template
html_template
counter

This way admin can easily modify email template, lets have a fixture that will pre-define the email templates. Existing email should be in this fixture. Update the current code to use this new feature.

[2016-11-24 14:50] ricco386 opened #226 "Add email notification after submitting CfP"
Add email notification after submitting talk proposal. Have a look register/views.py how we do email notification when ticket is issued, add similar one for speaker who is proposing talk.

[2016-11-24 16:52] mimmon commented on #225
I'll do it.

[2016-11-26 14:20] mimmon commented on #203
I would like to try this one.

[2016-11-27 22:08] ricco386 commented on #203
PR  merged

[2016-11-27 22:08] #203 closed

[2016-11-27 22:09] ricco386 commented on #225
PR #229 merged. Thank you.

[2016-11-27 22:09] #225 closed

[2016-11-27 22:10] ricco386 commented on #226
PR #233 has been merged. Thank you.

[2016-11-27 22:10] #226 closed

[2016-11-27 22:12] ricco386 commented on #99
PR #191 has been merged. Thank you.

[2016-11-27 22:12] #99 closed

[2016-11-27 22:44] ricco386 commented on #194
PR has been merged. Thanks.

[2016-11-27 22:44] #194 closed

[2016-11-28 21:45] ZoltanOnody opened #241 "Show information about the ticket"
We should show more information about the ticket itself on the "buying" page.

https://staging.pycon.sk/register/event/2017/ticket/d0d9f624-14b4-4d85-965b-619c9e53f225/

We could show the description and the ticket price.

[2016-11-28 22:16] ricco386 commented on #241
I agree we can show the same info (event the same styling) as on tickets page: https://staging.pycon.sk/2017/tickets/

[2016-11-29 08:38] mimmon commented on #241
I can try this one. So should there be a radio/dropdown added to template to choose from available ticket types?

[2016-11-29 09:52] ricco386 commented on #241
No button at this page user already selected ticket type he wants, so just display the information about ticket

[2016-11-29 09:56] mimmon commented on #241
Ok, I see - it was not clear to me as I only checked staging, on production it is quite obvious. Thank you, I'll do it.

[2016-11-29 10:02] ricco386 commented on #241
Sure, if you have any question just ask... Sometimes we just create an issue as a note what to do and might not be obvious for others :)

[2016-11-29 23:10] mimmon opened #243 "Check overdue tickets"
Create a job that will be run on regular basis to check if there are not unpaid tickets. The default threshold may be 7 days but it should be configurable. Optionally - add possibility to define action - send email, silently cancel order etc.

[2016-11-29 23:37] mimmon opened #244 "Add photo to talk proposal"
Add optional ImageField to talk/cfp where photo of talk proponent can be uploaded.

[2016-11-30 08:12] ricco386 opened #245 "CFP email problems"
Link for editing proposal we send in confirmation email does not works.

CfP end time formating could be improved.

[2016-11-30 12:17] mimmon commented on #245
I will fix it

[2016-11-30 19:01] ricco386 opened #248 "event clean method issue"
In current code of event clean method we can easily get an TypeError: unorderable types: NoneType() >= datetime.datetime()

Create new event and leave CfP not allowed and cfp_end empty system will raise an exception. Besides we will send this info to users, so make sure clean method is also called on save.

[2016-11-30 21:27] mimmon commented on #248
I'll do it together with #245 as these bugs are related

[2016-11-30 22:44] ricco386 commented on #245
PR has been merged. Thank you

[2016-11-30 22:44] #245 closed

[2016-12-02 21:32] ricco386 commented on #248
PR merged thank you.

[2016-12-02 21:32] #248 closed

[2016-12-02 23:15] mimmon commented on #244
I will take this one.

[2016-12-04 00:53] ricco386 opened #254 "PayPal cancel button doesnt return to the same url user wen to"
PayPal cancel button doesnt return to the same url user wen to.

[2016-12-05 10:16] ricco386 commented on #241
PR has been merged. Thank you

[2016-12-05 10:16] #241 closed

[2016-12-06 12:53] ricco386 opened #256 "Create function for email text formating"
Create function for email text formatting. Currently we use just format on python text which raises exception if in email body is variable unknown for the format. Therefore email is not send I think it is better to send untranslated variable in email as not send email at all.

[2016-12-08 22:01] ricco386 opened #259 "Improove overdue tickets email notification"
Currently it notifies just once. I think with a minor modifications we can do it a bit more flexible:

Add two settings:
* `UNPAID_ORDER_NOTIFICATION_REPEAT = 3  # How many times we should repeat the email notification`
* `UNPAID_ORDER_NOTIFICATION_REPEAT_DELAY = 5  # delay in days`

Update order model with new field:
* add `unpaid_notification_sent_amount` field, it should be integer, default 0.

[2016-12-10 19:53] ricco386 commented on #244
How are you doing with this issue? Do you need any help with it?

[2016-12-10 19:55] ricco386 commented on #243
This functionality has been added in PR #258 how ever there is room for improovement such as issue #259

[2016-12-10 19:55] #243 closed

[2016-12-10 21:01] mimmon commented on #244
Sorry, this week I was too busy, I plan to do it tomorrow. I've already checked how to do it. If I get stuck I will let you know so that the issue can be closed asap.

[2016-12-10 21:04] ricco386 commented on #244
Sure thing, no problem. I was just wondering about the status ;) Thank you for your effort I appreciate it.

[2016-12-11 21:23] ricco386 commented on #244
PR has been merged.

[2016-12-11 21:23] #244 closed

[2016-12-14 13:22] mimmon commented on #259
I'd like to do this.

[2016-12-14 13:24] mimmon commented on #256
so we want a tool to admin the email templates or just handle invalid format?

[2016-12-16 08:43] ricco386 commented on #256
I was thinking to build a function in utils that will handle the whole email notification. In general we always have to check if setting is enabled, than collect the variables, format them and send the email, and check and log the exceptions. It seems that in this pattern for all emails several things are repeating.

My idea was to build a function that will do the email sending and handle all exc

[2016-12-21 13:18] mimmon commented on #256
It seems interesting, I would like to take care about it

[2016-12-21 21:57] #259 closed

[2016-12-21 21:59] ricco386 commented on #199
Added ability to support sitetree this can be closed.

[2016-12-21 21:59] #199 closed

[2016-12-21 22:01] ricco386 commented on #196
no need to add this in app, Django has already build in functionality for this.

https://docs.djangoproject.com/en/1.10/ref/contrib/sitemaps/

[2016-12-21 22:01] #196 closed

[2017-01-02 08:44] ricco386 opened #275 "CfP date required when CfP not allowed"
In admin area, when creating an event and I untick the CfP allowed checkbox (eg. I am not interested in CfP) CfP date is still required and it shouldnt be. Date should be required only when CfP is allowed.

[2017-01-02 09:47] mimmon commented on #275
If no one else wants to do this, I would take care of it.

[2017-01-03 10:14] mbag opened #277 "Add Mx to the list of title choices for speaker"
Currently in the models/speaker.py we have only two titles: Mr. and Ms., add Mx. to the list (https://en.wikipedia.org/wiki/Mx_(title))

[2017-01-07 22:12] ricco386 commented on #256
PR merged.

[2017-01-07 22:12] #256 closed

[2017-01-07 22:24] #277 closed

[2017-01-07 22:31] ricco386 commented on #275
PR merged

[2017-01-07 22:31] #275 closed

[2017-01-11 18:16] #110 closed

[2017-01-17 16:50] jangondol opened #283 "Mention open licensing"
[Videos](https://www.youtube.com/channel/UC8Tzn82aG4zdvtqlrfsLgSA) from PyConSK 2016 were licensed under [CC-BY](https://creativecommons.org/licenses/by/4.0/) and I suggest that we make sure on the website that this will be the case for 2017 as well. Same thing for other submitted resources.

Possible formulation: *We believe in sharing and license code and content under open licenses. By submitti

[2017-01-18 17:21] jangondol opened #284 "Consider making it easier to update content"
I just noticed a bug on our front page, instead of "We are pleased to announce the PyCon SK 2017" we should say "We are pleased to announce PyCon SK 2017" (without "the").

So I searched for the string and found it in `konfera/fixtures/test_data.json`. I assume that if I update this file, this will not be reflected on the site (because I think the real text that is rendered on the site is stored i

[2017-01-21 13:52] ricco386 opened #285 "Add Documentation"
If you evenr done anything on this project, or used it and know anything about it, please consider adding you knowledge to documentation. We need to add proper documentation.

**Project is useless for others without documentation!**

We will use standard Sphinx documentation generator, that will be automatically uploaded to Read the Docs: https://django-konfera.readthedocs.io/en/latest/

[2017-01-21 13:53] ricco386 commented on #284
This is more issue with lack of documentation.

Fixtures doesnt have to be loaded. Eg. in this case they even didnt contain the data you were looking for. Our fixture has only PyCon 2016, once it was loaded we update data in the DB. Even if the data would be in fixture and you did fix it there it would prevent only issue with next person loading the data to the DB. Django is using fixtures only fo

[2017-01-21 13:53] #284 closed

[2017-01-21 14:06] ricco386 opened #286 "Create proper way to add CfP license notes"
Add proper way to have a  note at CfP about the licensing...

[2017-01-21 14:07] ricco386 commented on #283
You are right, I have updated the text on the page. We do currently have a hack on the website to be able to haev this for with text. I ahe create new issue #286 for proper way to add this.

[2017-01-21 14:07] #283 closed

[2017-01-21 19:19] ZoltanOnody commented on #195
Where would we use this feature?

[2017-01-21 19:56] ricco386 opened #289 "Add view for checking attendees in."
Frontend view, that is accessible for volunteers.

Volunteers (logged in user, not necessarily admin account) should be able to search tickets. It would display ticket details, and volunteer can confirm checking-in (eg. post button will change status).

You can add ability to search by multiple fields (lastname, email, ordernumber, etc...).

[2017-01-21 19:57] #254 closed

[2017-01-21 19:59] ricco386 commented on #289
Thinking about it we can update tickets (not order, because order can have multiple tickets), that will generate QR code, and volunteer can scan QR code that will open page and change status automatically, this might really speed the registration...

[2017-01-21 20:05] ricco386 commented on #195
This might be a neat feature, for example it might be able to post data to slack (similar  to webhooks on github).

However but at this point we dont need it and I am closing this issue.

[2017-01-21 20:05] #195 closed

[2017-01-21 20:20] ricco386 opened #290 "Add ability ask questionaire"
We need to send out questions to users, like size of t-shirt, dietary requirements, etc... We need to way how to handle it, django-konfera has to be able solve it. There are several ways how to do it:

A. Find out an existing app that will handle this. In this case add hooks, that will handle this functionality and add documentation how to use it.

B. Develop functionality that will handle this re

[2017-01-21 20:56] ricco386 opened #291 "Refactor the schedule to be more automatic"
Current functionality of schedule is not working well. We can set talk and start and duration, but that does not make sense. We already know the duration from CfP, and honestly to fill this for the whole conference is not very user friendly. Besides if we want to amend it it would be terrible...

I am thinking how about we add order number to the talk, room and break time. This way we would be abl

[2017-01-21 21:55] ricco386 commented on #156
we shall leave as it is and focus on #291

[2017-01-21 21:55] #156 closed

[2017-01-22 16:58] ZoltanOnody commented on #290
I vote for option A.

https://github.com/MarkusH/django-dynamic-forms seems fine. I think we should definitely use it.

I'll integrate it to our app in a few day, the requirements are:
- one attendee (=one ticket) should be able to vote only once (and should be able to edit his votes)
- voting should be closed after some date

right?

[2017-01-22 19:51] ricco386 commented on #290
@ZoltanOnody alright look good. Yes that are the requirements, and one questionnaire (=one ticket) can have multiple questions (also different types, text, checkbox, etc...)

[2017-01-26 21:09] mimmon commented on #291
I have already sent you a proposal with talks linked to a track so I will put it here to have a possibility to discuss it.
The main idea is that each talk has a number that will serve for ordering, it is not an index though. Talks are ordered by this number within a track. The number can be calculated automatically when talk is added to a track, but can also be explicitly set. The automatically ad

[2017-01-26 21:23] ZoltanOnody commented on #291
There is. https://docs.djangoproject.com/en/1.10/ref/contrib/admin/#django.contrib.admin.ModelAdmin.get_changelist_form

[2017-01-30 21:11] Pytlicek opened #295 "Add view for volunteers"
Frontend view, that shows info about volunteers.
Name, Photo, (short bio ?), Contact/Github/LinkedIn/TWT, (Company/school ?)
Maybe something like PyConCZ : https://cz.pycon.org/2016/about/team.1.html short&simple.

[2017-01-31 09:08] ricco386 opened #296 "Generated PDF update wording"
On generated PDF update word order to invoice.
In section Odred Details (Newly Invoice Details) update Event to event type, eg. Conference, Meetup.

[2017-02-06 16:41] mimmon opened #302 "Enable attendees to transfer ticket to another person"
If attendee needs to transfer his/her ticket to another person (changed plans, unexpected events...), s/he could have a possibility to easily transfer issued ticket to another person.

[2017-02-08 09:50] jangondol opened #303 "Change ordering of tickets (sort by price, ascending)"
At the [tickets page](https://www.pycon.sk/2017/tickets/), the tickets are currently ordered from the most expensive to the least expensive.

Psychologically (but perhaps there is a reason why it's done this way?), I think it might be more useful to start with the cheapest and end with the most expensive. This is also how other conferences do it. In other words: Student (20 EUR), Teacher (20 EUR),

[2017-02-14 16:37] #289 closed

[2017-02-14 19:36] #303 closed

[2017-02-15 09:53] secult opened #306 "Non-ASCII characters in speaker's picture filename causes 500"
When submitting proposal request, speaker should attach his picture. When this picture filename contains non-ascii characters, the submission crashes.

[2017-02-15 21:04] #296 closed

[2017-02-16 16:40] mimmon commented on #306
I will do this.

[2017-02-16 16:59] mimmon commented on #306
Could not replicate. Replaced default path with unidecode(path)

[2017-02-17 19:43] #285 closed

[2017-03-07 08:05] jangondol opened #318 "Paid ticket shows "Status: Requested""
Background: I paid for the dinner ticket. Under "Order Details" it shows "Status: Paid" but at the bottom of the screen it says "Status: Requested". Screenshot below:

![2017-03-07 08-55-48](https://cloud.githubusercontent.com/assets/601717/23647186/c8ccd418-0314-11e7-84bc-53bbec1aa12a.png)

Any idea why this may be happening? (I think the correct thing to say would be "Status: Paid" at the bottom

[2017-08-18 14:57] ZoltanOnody opened #319 "unify the requirements.txt"
They are all over the app, ideally they should be only on one place.
[code]

[2017-08-18 20:50] ricco386 opened #320 "Refactor!"
Get rid of the "cms" stuff in th models and do a cleanups

[2017-08-18 20:52] ricco386 commented on #290
Closing. We are going to refactor #320

[2017-08-18 20:52] #290 closed

[2017-08-18 20:53] ricco386 commented on #291
Closing. We are going to refactor #320

[2017-08-18 20:53] #291 closed

[2017-08-18 20:54] ricco386 commented on #295
Closing. We are going to refactor #320

[2017-08-18 20:54] #295 closed

[2017-08-22 09:47] mimmon commented on #318
This is because 1) Ticket status does not change and 2) Ticket statuses may be
    `requested`, `registered`, `checked-in`, `cancelled`,
while Order statuses may be
`awaiting_payment`, `paid`, `partly_paid`, `expired`, `cancelled`.

[2017-09-10 20:49] ZoltanOnody commented on #319
implemented in https://github.com/pyconsk/django-konfera/commit/9c19e94bffb609bb3ceae892b3c530ce26a38b6f

[2017-09-10 20:49] #319 closed, assigned to nobody